*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%,rgba(0,0,0,0.5)50%),img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr_K2B0AIxJCUlLG8FK6pvzgmcU3SdglOT77ah_4bmhScyEF58y8DxVN_bt0SpS6Vx_kQ&usqp=CAU" ;
    background-position: center;
    background-size: cover;
    height: 109vh;
}